<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FRC Bracket Challenge</title>
	
	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/signin.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
	
	<!-- jQuery -->
	<script src="js/plugins_frameworks/jquery.js" async="async"></script>
	<script src="js/plugins_frameworks/jquery.cookie-1.4.1.min.js" async="async"></script>


	<!-- Bootstrap Core JavaScript -->
	<script src="js/plugins_frameworks/bootstrap.min.js" async="async"></script>
	
	<!-- Custom JavaScript -->
	<script src = "js/authentication.js" async="async"></script>
</head>