<header class="test">
<div class="header-content">
	</br>
	<p>An email has been sent to your email address with a link to verify
	   your account. After you click this link you will be able to log into
	   your account and work on your brackets.<p>
	<p>Make sure to check your spam folder, occasionally our emails are
	   flagged as spam</p>
  </div>
</header>
