<header class="test">
<div class="header-content">
	<p>An email has been sent to your email address with a link to verify
	   your account. After you click this link you will be able to log into
	   your account and work on your brackets.<p>
  </div>
</header>



<!-- jQuery -->
<script src="js/plugins_frameworks/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/plugins_frameworks/bootstrap.min.js"></script>