<html>

{{>index/head}}

<body id="page-top">
	{{>index/nav}}
	
	{{>index/header}}
	
	{{>index/about}}
	
	{{>index/events}}
	
	{{>index/rules}}
	
	{{>index/resources}}
	
	{{>index/contact}}

    <!-- jQuery -->
    <script src="js/plugins_frameworks/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/plugins_frameworks/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/plugins_frameworks/jquery.easing.min.js"></script>
    <script src="js/plugins_frameworks/jquery.fittext.js"></script>
    <script src="js/plugins_frameworks/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
    <script src="js/authentication.js"></script>
</body>

</html>
