<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">The most fun you've ever had at competition!</h2>
				<hr class="light">
				<h3>We created FRC Bracket challenge because we're always competing to predict how our events will play out, we wanted a way to share our
					coopertition with you.</h3>
				<p class="text-faded">Do you think you know which team is going to pick which? Maybe you're a scounting pro who knows which
					teams are best, maybe you're a veteran who knows relationships between teams, or maybe your on the drive team/pit crew
					and have insider information. With OVER 9000 alliance combinations anything can happen!</p>
				<hr class="light">
				<ul>
					<li><p>Two hours before alliance selection finalize your bracket.<p></li>
					<li><p>Golf Score! The farther off your bracket is the more points you get, lowest score wins.</p></li>
					<li><p>After alliance selection winners will be annoced and prizes will be awarded.</p></li>
				</ul>
				<a href="signin" class="btn btn-default btn-xl">Get Started!</a>
			</div>
		</div>
	</div>
</section>