<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1>The Original FRC Bracket Challenge</h1>
			<h3>Sponsored by FRC Team 2522</h3
			<hr>
			<p>Compete with friends, teammates, mentors, and alumni to see who can pick the perfect bracket. Win fabulous prizes!</p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
		</div>
	</div>
</header>