<section class="bg-primary" id="resources">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Resources</h2>
				<hr class="light">
				<div class="col-lg-4 col-sm-6">
					<a href="#" class="events-box resource-box">
						<img src="img/portfolio/2.jpg" class="img-responsive" alt="">
						<div class="events-box-caption">
							<div class="events-box-caption-content">
								<div class="project-category text-faded">Event Results</div>
								<div class="project-name">The Blue Alliance</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="#" class="events-box resource-box">
						<img src="img/portfolio/2.jpg" class="img-responsive" alt="">
						<div class="events-box-caption">
							<div class="events-box-caption-content">
								<div class="project-category text-faded">FRC Forum</div>
								<div class="project-name">Chief Delphi</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="#" class="events-box resource-box">
						<img src="img/portfolio/2.jpg" class="img-responsive" alt="">
						<div class="events-box-caption">
							<div class="events-box-caption-content">
								<div class="project-category text-faded">FRC Ranking</div>
								<div class="project-name">FRC Top 25</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>