<section class="bg-dark" id="rules">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">How to play?</h2>
				<hr class="light">
				<h3>The Game</h3>
				<ul class="text-faded">
					<li><p>Choose how you think each alliance will look at the end of alliance selection.<p></li>
					<li><p>Two hours before alliance selection brackets are locked in and can no longer be modified.</p></li>
				</ul>
				<hr class="light">
				<h3>Scoring</h3>
				<ul class="text-faded">
					<li><p>The bracket with the 'lowest score' wins.</p></li>
					<li><p>There are 8 alliances each with 3 teams. This gives 24 team positions and oppertunties to earn points.<p></li>
					<li><p>One point is added to a bracket for each overall pick away from each position.
						<ul>
							<li>If I put 2522 as the 3rd alliance captain but they wind up the 5th captain my bracket earns 2 points.</li>
							<li>If I put 1778 as the 20th pick overall but they end up being the 8th captain my bracket earns 12 points.</li>
							<li>If I put 4488 as the 2nd alliance captain but then the 1st alliance picks them as the 9th overall pick my bracket earns 7 points.</li>
						</ul>
				</ul>
				<a href="#" class="btn btn-default btn-xl">Get Started!</a>
			</div>
		</div>
	</div>
</section>